@font-face{font-family: DailymirrorPersonalUseRegular; src:url(../fonts/DailymirrorPersonalUseRegular-7B7gP.ttf);}

.mainheading{font-family: DailymirrorPersonalUseRegular; Color: rgb(213,213,213); text-align: center; font-size: 45px;}

.important1{font-size: 400%; color: white; font-family: impact;}

body{background-image: url("../images/xbox.jpeg"); background-repeat: no-repeat; background-size: cover; 
background-attachment: fixed; padding: 30px;}

fieldset{border: 5px solid blue; border-radius: 10px; padding: 30px; background-color: rgb(128,102,225); 
opacity: 75%; font-size: 20px; color: white; font-family: helvetica;}

.textbox:focus{background-color: rgb(114, 247, 201);}

button:hover{color: rgb(114, 247, 201);}
button{font-size: 20px; font-weight: bold;}

.gct{height: 400px; width: 550px;}

.mynav{display: flex;}
.box1{flex-grow: 1;}
.box2{flex-grow: 1;}
.box3{flex-grow: 1;}
.wrapper{position: sticky; top: 0px; left: 0px; padding: 15px; width: 90%;}

.grid{
	display: grid; 
	gap: 10px; 
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 1rem;
	list-style-type: none;
}
.griditem{border: 5px solid blue; border-radius: 10px; padding: 30px; background-color: rgb(128,102,225); 
opacity: 75%; font-size: 20px; color: white; font-family: helvetica;}

.title{display: flex;}
.bigwords{flex: 1; text-align: right;}
.smallwords{flex: 1; padding: 0px; margin: 10px; line-height: 60%;}

	a{color: rgb(213,213,213); font-size: 30px; font-family: helvetica;}
	a:active{color: rgb(213,213,213); font-size: 30px; font-family: helvetica;}
	
.p1{border: 5px solid blue; border-radius: 10px; padding: 30px; background-color: rgb(128,102,225); 
opacity: 75%; font-size: 20px; color: white; font-family: helvetica;}

.large {font-size: 245%;}